/*Переменные*/
:root
{
  --light-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;

  --light-grey: #F2F2F2;
  --light-grey-background:#EEEEEE;
  --light-grey-background-page #888888: ;
  --light-grey-arrow: #CACACA;
  --middle-grey: #666666;
  --middle-grey-form: #A9A9A9;
  --dark-gray-text: #333333;


  --light-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: var(--light-grey-background-page);
  background-image: url("#");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: black;
  background-color: white;
}

.site_navigation {
  list-style: none;
}

.site_navigation a {
color: black;
}
.site_navigation a:hover
{
  color: var(--light-blue);
}
.site_navigation a:focus
{
  color: rgba(0,0,0,0.3);
}
.site_navigation .site_navigation_active {
  color: var(--light-brown);
}
.site_navigation .site_navigation_active:active,
.site_navigation .site_navigation_active:hover {
  color: var(--light-brown);
  }

/*Features*/

.features_item {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  }
.features_with_pic  {
  background-color: var(--light-blue);
}

.features_with_pic .features_item,
.features_with_pic .features_content {
  color: white;
}



.features_content {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark-gray-text);

}

.hotels_search_header {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}
.hotel_search_form_activate {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: white;
  background-color: var(--light-brown);
  width: 568px;
  height: 86px;

}
.hotel_search_form_activate:hover {
  background-color: var(--middle-brown);

}
.hotel_search_form_activate:active {
  background-color: var(--dark-brown);
  color: rgba(255,255,255,0.3);
}

.hotels_search_button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: white;
  background-color: var(--light-blue);
  width: 458px;
  height: 58px;
}
.hotels_search_button:hover {
  background-color: var(--middle-blue);
}
.hotels_search_button:active {
  background-color: var(--dark-blue);
  color: rgba(255,255,255,0.3);
}

.hotel_catalog {
  color: var(--dark-gray-text);
  font-weight: normal;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.hotel_catalog_sort a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-decoration: underline dashed;
  }
.hotel_catalog_sort a:hover {
  color: var(--light-blue);
  text-decoration: underline dashed;
}

.hotel_catalog_sort a:active {
  color: inherit;
  text-decoration: none;
}
.hotel_catalog_sort .hotel_catalog_sort_active {
  color: var(--light-blue);
  text-decoration: none;
}
.hotel_catalog_item_header {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotel_catalog_item_header:hover {
  color: var(--light-blue);
}

.hotel_catalog_item_header:active {
  color: rgba(0,0,0,0.3);
}




.hotel_catalog_item_more_button {
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: var(--light-blue);
  width: 110px;
  height: 27px;
}
.hotel_catalog_item_more_button:hover {
  background-color: var(--middle-blue);
}
.hotel_catalog_item_more_button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--dark-blue);
}

.hotel_catalog_item_2book_button {
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: var(--light-brown);
  width: 142px;
  height: 27px;
}
.hotel_catalog_item_2book_button:hover {
  background-color: var(--middle-brown);
}
.hotel_catalog_item_2book_button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--dark-brown);

}



.footer-phone {
  color:inherit;
}
.footer_credits  {
  color: black;
  text-decoration: none;

}
.footer_credits:hover {
  color: var(--light-blue);
}
.footer_credits:active {
  color: rgba(0,0,0,0.3);
}




