/*Переменные*/
:root
{
  --basic-white: #ffffff;
  --basic-black: #000000;
  --transparent-black: rgba(0,0,0,0.3);
  --transparent-white: rgba(255,255,255,0.3);
  --footer_transparent-white: rgba(255,255,255,0.9);

  --light-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;

  --light-grey: #F2F2F2;
  --light-grey-background:#EEEEEE;
  --light-grey-arrow: #CACACA;
  --middle-grey: #666666;
  --middle-grey-form: #A9A9A9;
  --dark-gray-text: #333333;


  --light-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.mypage {
  height: 100%;
  min-width: 1200px;
  background-color: var(--light-grey);


}

.mypage_body {
  min-height: 100%;
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: min-content 1fr min-content;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main_header {
  /*outline: darkmagenta solid 5px;*/
  /*outline-offset: -5px;*/

}


.main-navigation {

  display: grid;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site_navigation {
  height: 70px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 73px 127px 1fr 2fr 1fr 127px 73px;
  text-align: center;
  /*outline: chartreuse solid 5px;*/
  /*outline-offset: -5px;*/
  list-style: none;


}
li:nth-child(2),  li:nth-child(5) {
  text-align: left;
  padding-top: 14px;
}
li:nth-child(3),  li:nth-child(6) {
  text-align: right;
  padding-top: 14px;
}

li:nth-child(5) {
  padding-left: 17px;
  padding-top: 14px;
}
li:nth-child(4) {
  background-image: url("../img/logo-138x70.svg");
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}


/*li {
  outline: coral dashed 3px;
  outline-offset: -3px;
}*/

.site_navigation a {
color: var(--basic-black);
}
.site_navigation a:hover
{
  color: var(--light-blue);
}
.site_navigation a:focus
{
  color: var(--transparent-black);
}
.site_navigation .site_navigation_active {
  color: var(--light-brown);
}
.site_navigation .site_navigation_active:active,
.site_navigation .site_navigation_active:hover {
  color: var(--light-brown);
  }

.site_header {
  display: none;
}

.main_background {
  display: inline-block;
  grid-template-columns: 1200px;
  grid-template-rows: 509px;
  background-image: url("../img/background-1200x509.jpg");
  text-align: center;
  vertical-align: center;
  margin-top: -15px;
  height: 509px;
  width: 1200px;
}
.welcome-logo {
   margin-top: 77px;
}


/*Features*/
.features_with_pic_container {
display: inline-block;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 60px 70px;
  text-align: center;
}
.features_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--light-grey-background);
  text-align: center;
}

.main_background_mask {
  display: inline-block;
  width: 1200px;
  height: 272px;
  background-image: url("../img/background-mask.svg");
  margin-top: -56px;

  background-position: center top;
  text-align: center;
  z-index: 1;
}
.features_container {
  display: block;
  padding-top: 100px;
}

.features_header {
  display: none;
}

.features_item {
  display: block;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  }

.features_with_pic  {
  width: 400px;
  height: 256px;
  display: block;
  float: left;
  text-align: center;
  /*outline: fuchsia dashed 5px;
  outline-offset: -5px;*/
  background-color: var(--light-blue);
}


.features_with_pic .features_item,
.features_with_pic .features_content {
  color: var(--basic-white);
}



.features_content {
  display: block;
  float: bottom;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
   color: var(--dark-gray-text);
 /* outline: dodgerblue dashed 5px;
  outline-offset: -5px;*/
}

.features_pic {
  padding: 0;
  margin: 0;
  display: block;
  width: 800px;
  height: 256px;
  float: right;

}

.interest  {
  width: auto;
  height: 261;
  text-align: center;
}


.hotels_search_header {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}
.hotel_search_form_activate {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--light-brown);
  /*width: 568px;
  height: 86px;*/

}
.hotel_search_form_activate:hover {
  background-color: var(--middle-brown);

}
.hotel_search_form_activate:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);
}

.hotels_search_button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: var(--basic-white);
  background-color: var(--light-blue);
  /*width: 458px;
  height: 58px;*/
}
.hotels_search_button:hover {
  background-color: var(--middle-blue);
}
.hotels_search_button:active {
  background-color: var(--dark-blue);
  color: var(--transparent-white);
}

.hotel_catalog {
  color: var(--dark-gray-text);
  font-weight: normal;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.hotel_catalog_sort a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: underline dashed;
  }
.hotel_catalog_sort a:hover {
  color: var(--light-blue);
  text-decoration: underline dashed;
}

.hotel_catalog_sort a:active {
  color: inherit;
  text-decoration: none;
}
.hotel_catalog_sort .hotel_catalog_sort_active {
  color: var(--light-blue);
  text-decoration: none;
}
.hotel_catalog_item_header {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotel_catalog_item_header:hover {
  color: var(--light-blue);
}

.hotel_catalog_item_header:active {
  color: var(--transparent-black);
}




.hotel_catalog_item_more_button {
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--light-blue);
  /*width: 110px;
  height: 27px;*/
}
.hotel_catalog_item_more_button:hover {
  background-color: var(--middle-blue);
}
.hotel_catalog_item_more_button:active {
  color: var(--transparent-white);
  background-color: var(--dark-blue);
}

.hotel_catalog_item_2book_button {
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--light-brown);
  /*width: 142px;
  height: 27px;*/
}
.hotel_catalog_item_2book_button:hover {
  background-color: var(--middle-brown);
}
.hotel_catalog_item_2book_button:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);

}

.page_footer .container {
  width: auto;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: var(--footer_transparent-white);
  margin-top: -128px;
}

.footer_phone {
  color:inherit;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 16px;
}

.footer_credits  {
  color: var(--basic-black);
  text-decoration: none;
  vertical-align: center;

}
.footer_credits:hover {
  color: var(--light-blue);
}
.footer_credits:active {
  color: var(--transparent-black);
}




