/*Переменные*/
:root
{
  --basic-white: #ffffff;
  --basic-black: #000000;
  --transparent-black: rgba(0,0,0,0.3);
  --transparent-white: rgba(255,255,255,0.3);
  --footer-transparent-white: rgba(255,255,255,0.9);
  --hotels-search-shadow: rgba(0, 1, 1, 0.15);

  --light-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;

  --light-grey: #F2F2F2;
  --light-grey-background:#EEEEEE;
  --light-grey-arrow: #CACACA;
  --light-grey-stroke: #e5e5e5;
  --middle-grey: #666666;
  --middle-grey-form: #A9A9A9;
  --middle-grey-search: #EBEBEB;
  --dark-gray-text: #333333;


  --light-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button, button:active, button:focus {
  outline: none;
}

.mypage {
  height: 100%;
  min-width: 1200px;
  background-color: var(--light-grey);


}

.mypage_body {
  min-height: 100%;
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main_header {
  /*outline: darkmagenta solid 5px;*/
  /*outline-offset: -5px;*/

}


.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site_navigation {
  height: 70px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;


}
li:nth-child(1),  li:nth-child(2) {
  text-align: left;
  padding-top: 14px;
}
li:nth-child(3),  li:nth-child(4) {
  text-align: right;
  padding-top: 14px;
}

li:nth-child(1) {
  padding-left: 74px;
  padding-top: 14px;
  }

li:nth-child(4) {
  padding-right: 74px;
  padding-top: 14px;
}


.site_header_logo {
  position: relative;
  width: 138px;
  margin: 0 auto;
  height: 70px;
  text-align: center;
  margin-bottom: -70px;
  z-index: 1;


}




.site_navigation a {
color: var(--basic-black);
}
.site_navigation a:hover
{
  color: var(--light-blue);
}
.site_navigation a:focus
{
  color: var(--transparent-black);
}
.site_navigation .site_navigation_active {
  color: var(--light-brown);
}
.site_navigation .site_navigation_active:active,
.site_navigation .site_navigation_active:hover {
  color: var(--light-brown);
  }

.site_header {
  display: none;
}

.main_background {
  display: inline-block;
  background-image: url("../img/background-1200x509.jpg");
  text-align: center;
  vertical-align: center;
  margin-top: -15px;
  height: 509px;
  width: 1200px;
}

.hotels_background {
  display: inline-block;
  background-image: url("../img/hotels_bg_1200x217.jpg");
  text-align: center;
  vertical-align: center;
  margin-top: -15px;
  height: 217px;
  width: 1200px;
}

.welcome-logo {
   margin-top: 77px;
}


/*Features*/
.features_with_pic_container {
display: flex;
}
.house-icon {
  background-image: url("../img/house-icon.svg");
  background-position: center bottom ;
  background-repeat: no-repeat;
}
.burger-icon {
  background-image: url("../img/burger-icon.svg");
  background-position: center bottom ;
  background-repeat: no-repeat;
}
.box-icon {
  background-image: url("../img/box-icon.svg");
  background-position: center bottom ;
  background-repeat: no-repeat;
}



.features {
  height: 330px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 132px 74px 124px;
  text-align: center;
}
.features .house-icon, .features .burger-icon, .features .box-icon   {
  margin: 0;
  padding: 0;
}

.features_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px 69px 97px;
  background-color: var(--light-grey-background);
  text-align: center;
}

.main_background_mask {
  display: inline-block;
  width: 1200px;
  height: 272px;
  background-image: url("../img/background-mask.svg");
  margin-top: -56px;
  background-position: center top;
  text-align: center;
  z-index: 1;
}
.features_container {
  display: block;
  padding-top: 100px;
}

.features_header {
  display: none;
}

.features_item {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: auto auto;
  }
.features_bottom  .features_item {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  line-height: 21px;

}

.features_bottom .features_content {
  margin: 0;
  padding: 0;
  }

.features_bottom .content_number {
  margin: auto;
}


.features_with_pic  {
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
 /* outline: fuchsia dashed 5px;
  outline-offset: -5px;*/
  background-color: var(--light-blue);
}

.features_with_pic .features_item {
  margin: 0;
  padding-top: 47px;
  line-height: 21px;

}

.features_with_pic .features_content {
  margin: 0;
  padding-top: 27px;

}
.features_with_pic .feature_last {
  margin: 0;
  padding-top: 27px;

}

.features_with_pic .devil1 {
  padding-top: 51px;

}

.features_with_pic .devil3 {
  padding-top: 25px;

}



.features_with_pic .features_item,
.features_with_pic .features_content {
  color: var(--basic-white);
}



.features_content {
  margin: 0 auto;
  padding: 0;
  display: block;
  float: bottom;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark-gray-text);
}
.top_features .features_content {
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;

}




.features_pic {
  padding: 0;
  margin: 0;
  display: block;
  width: 800px;
  height: 256px;
  float: right;

}

.interest  {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 79px 212px;
  width: auto;
  height: 291px;
  text-align: center;
}


.hotels_search_header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.interest .features_content {
  margin: 0;
  padding-top: 35px;
  line-height: 24px;


}
.hotel_search_form {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  justify-content: flex-start;
  align-items: center;
  left: 50%;
  transform: translate(-50%,0);
  width: 568px;
  Height: 395px;
  box-shadow: 0px 7px 15px var(--hotels-search-shadow);
}


.hotel_search_form_activate {
  position: absolute;
  left: 50%;
  top: 2082px;
  transform: translate(-50%, 0);
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--light-brown);
  width: 568px;
  height: 86px;

}
.arrival_date, .departure_date {
  position: relative;
}

.hotel_search_fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}


.hotel_search_form_activate:hover {
  background-color: var(--middle-brown);

}
.hotel_search_form_activate:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);

}

.hotels_search_button {
  margin: 0;
  padding: 16px;
  margin-top: 54px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--light-blue);
  width: 100%;

}
.hotels_search_button:hover {
  background-color: var(--middle-blue);
}
.hotels_search_button:active, .hotels_search_button:focus {
  background-color: var(--dark-blue);
  color: var(--transparent-white);
  outline: none;
  }


.hotel_search_form input[name="depature"], .hotel_search_form input[name="arrival"] {

  padding: 0;
  padding-left: 15px;
  margin-left: 15px;
  border: 0;
  width: 331px;
  height: 38px;
  background-color: var(--light-grey);
  font: inherit;
  text-transform: uppercase;
  }

.hotel_search_form input[name="arrival"] {
  margin-top: 55px;
}
.hotel_search_form input[name="depature"] {
  margin-top: 29px;
}


.hotel_search_form input[name="depature"]:hover, .hotel_search_form input[name="arrival"]:hover  {
  background-color: var(--middle-grey-search);
}
.hotel_search_form input[name="depature"]:focus, .hotel_search_form input[name="arrival"]:focus  {
  background-color: var(--basic-white);
  outline: 2px solid var(--light-grey-stroke);
  outline-offset: -2px;
}

.arrival_date {
  position: absolute;
  top: 0px;
  right: 0px;
}

.departure_date {
  position: absolute;
  right: 0px;
  top: 67px;
}


.arrival_date .calendar_open, .departure_date .calendar_open {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  height: 23px;
  width: 21px;
  top: 62px;
  right: 9px;
  background-color: inherit;
   /*background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;*/
}


.dates svg:hover {
  fill: var(--basic-black);
}

.dates svg:active {
  fill: var(--light-blue);
}





.hotel_search_form input[name="arrival"] {
  margin-left: 19px;
  }



.dates {
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}


.people_count {
  position: relative;
  display: flex;
  margin-top: 30px;
  /*top: -6px;*/
  flex-wrap: wrap;
  justify-content: space-between;
}


.people_count input {
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  height: 38px;
  width: 114px;
  background-color: var(--light-grey);
  font: inherit;
}

.people_count input:focus {
  outline: none;
  background-color: var(--light-grey);
  font: inherit;
}

.people_count span {
  display: inline-block;
  margin-right: 35px;
}

.adult_people_count_dec, .child_people_count_inc, .adult_people_count_inc, .child_people_count_dec  {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  height: 12px;
  width: 12px;
  background-color: inherit;
  }


.adult_people_count_dec {
  left: 125px;
  top: 12px;

}
.adult_people_count_inc {
  left: 201px;
  top: 12px;
}
.child_people_count_dec {
  left: 357px;
  top: 12px;

}
.child_people_count_inc {
  left: 433px;
  top: 12px;
}
.child input {
  margin-left: -11px;
}

.adult_people_count_dec::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 12px;
  left: 0;
  top: 6px;
  background-color: var(--middle-grey-form);
}
.adult_people_count_inc::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 12px;
  left: 0;
  top: 6px;
  background-color: var(--middle-grey-form);
}
.adult_people_count_inc::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 12px;
  left: 0;
  top: 6px;
  transform: rotate(90deg);
  background-color: var(--middle-grey-form);
}

.child_people_count_dec::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 12px;
  left: 0;
  top: 6px;
  background-color: var(--middle-grey-form);
}

.child_people_count_inc::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 12px;
  left: 0;
  top: 6px;
  background-color: var(--middle-grey-form);
}
.child_people_count_inc::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 12px;
  left: 0;
  top: 6px;
  transform: rotate(90deg);
  background-color: var(--middle-grey-form);
}

.adult_people_count_dec:hover:after, .child_people_count_dec:hover:after  {
  background-color: var(--basic-black);
}

.adult_people_count_dec:active:after, .child_people_count_dec:active:after {
  background-color: var(--light-blue);
}

.adult_people_count_inc:hover:before, .adult_people_count_inc:hover:after, .child_people_count_inc:hover:before, .child_people_count_inc:hover:after  {
  background-color: var(--basic-black);
}

.adult_people_count_inc:active:before, .adult_people_count_inc:active:after, .child_people_count_inc:active:before, .child_people_count_inc:active:after  {
  background-color: var(--light-blue);
}




.hotel_catalog_header {
  display: none;
}

.hotel_catalog {
  width: 1054px;
  height: 90px;
  display: grid;
  margin: 30px auto;
  grid-template-columns: 164px 116px 142px auto;
  grid-template-rows: 33px 27px 27px;
  gap: 0px 0px;
  grid-template-areas:
    "hotel_catalog_pic hotel_name  hotel_name hotel_stars"
    "hotel_catalog_pic hotel_type hotel_price hotel_price"
    "hotel_catalog_pic hotel_catalog_item_more_button hotel_catalog_item_2book_button hotel_score";
  color: var(--dark-gray-text);
  font-weight: normal;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  /*outline: fuchsia dashed 3px;
  outline-offset: -3px;*/
}
.hotel_catalog_sort_nav {
  width: 1054px;
  height: 86px;
  display: grid;
  margin: 0  auto;
  padding-top: 20px;
  grid-template-columns: 164px 116px 79px 82px 108px 500px 22px;
}
.hotel_catalog_sort_nav_container div:nth-child(6) {
  text-align: right;
}


.hotel_catalog_sort_nav_container {
  display: block;
  width: 1200px;
  height: 86px;
  margin: 0 auto;
  border-bottom: var(--light-grey-stroke) solid 1px;
}

.hotel_catalog_container {
  display: block;
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  border-bottom: var(--light-grey-stroke) solid 1px;
  /*border-top: var(--light-grey-stroke) solid 1px;*/
}

.hotel_catalog_pic {
grid-area: hotel_catalog_pic;
  margin: auto 0;
}

.hotel_name {
  grid-area: hotel_name;
}

.hotel_stars {
    grid-area: hotel_stars;
  text-align: right;

}

.hotel_type {
  grid-area: hotel_type;

}
.hotel_price {
  grid-area: hotel_price;
  text-align: left;
}

.hotel_score {
  grid-area: hotel_score;
  margin: 0;
  /*margin-top: 3px;*/
  padding: 3px;
  text-align: center;
  margin-left: 520px;
  background-color: var(--light-grey);
/* width: 110px;
  height: 27px;*/
}


.hotel_catalog_sort_nav  a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: underline dotted;
  }

.hotel_catalog_sort_nav  a:hover {
  color: var(--light-blue);
  text-decoration: underline dotted;
}

.hotel_catalog_sort_nav  a:active {
  color: inherit;
  text-decoration: none;
}
.hotel_catalog_sort_nav .hotel_catalog_sort_active {
  color: var(--light-blue);
  text-decoration: none;
}
.hotel_catalog_item_header {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.hotel_catalog_search_result {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}



.hotel_catalog_item_header:hover {
  color: var(--light-blue);
}

.hotel_catalog_item_header:active {
  color: var(--transparent-black);
}



.hotel_catalog_item_more_button {
  text-align: center;
  margin: 0;
  margin-top: 3px;
  padding: 3px;
  color: var(--basic-white);
  background-color: var(--light-blue);

 }

.hotel_catalog_item_more_button:hover {
  background-color: var(--middle-blue);
}
.hotel_catalog_item_more_button:active {
  color: var(--transparent-white);
  background-color: var(--dark-blue);
}

.hotel_catalog_item_2book_button {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--light-brown);
  margin: 0;
  margin-left: 5px;
  margin-top: 3px;
  padding: 3px;
}
.hotel_catalog_item_2book_button:hover {
  background-color: var(--middle-brown);
}
.hotel_catalog_item_2book_button:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);

}

.page_footer {

}



 .page_footer .container {
  position: absolute;
  display: grid;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  grid-template-columns: auto min-content auto;
  text-align: center;
  background-color: var(--footer-transparent-white);
  margin-top: -128px;


}
.hotels_page_footer .container {
  width: auto;
  height: 120px;
  display: grid;
  grid-template-columns: auto min-content auto;
  text-align: center;
  vertical-align: middle;
  background-color: var(--footer-transparent-white);
  }

.footer_social {
  position: absolute;
  left: 525px;
  top: 36px;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: auto auto;
  justify-content: space-between;

}




.footer_social_link {
  position: relative;
  display:block;
  height: 48px;
  width: 46px;
  background-color: var(--light-blue);

  /*outline: 2px solid firebrick;*/

}

.twitter {
  height: 17px;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.facebook {
  height: 22px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.youtube {
  height: 16px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}





.footer_social_link:hover {
   background-color: var(--middle-blue);
}

.footer_social_link:active {
  background-color: var(--dark-blue);
}
.footer_social_link:active svg {
  fill-opacity: 0.3;
}





.footer_phone {
  position: absolute;
  left: 125px;
  top: 23px;
  color:inherit;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: auto;
}

.footer-telnumber {
  display: inline-block;
  padding-top: 12px;
}

.footer_credits  {
  position: absolute;
  left: 865px;
  top: 40px;
  color: var(--basic-black);
  margin:  auto;
  text-align: center;
  text-decoration: none;

}

.academy_logo {
  width: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
}


.academy_logo svg:hover {
  fill: var(--light-blue);
}
.academy_logo svg:active {
  fill: var(--transparent-black);
}

/*

.footer_credits:hover {
  color: var(--light-blue);

}

.footer_credits:active {
  color: var(--transparent-black);

}

*/




